.header-bg{
    background-image: url("../images/background-light.jpg");
}

/* Modal Box & Card */
.card{
    color: black;
    background: #ffffff7d; 
}

/* style button */
.btn{
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: rgb(160, 160, 160);
    color: black;
}

#article-bg{
    background: rgb(122, 148, 156);
}

#video-bg{
    background: rgb(70, 124, 175);
}