.navbar{
    background-color: #212529;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.header{
    background-image: url("../images/darkbg1.jpg");
}

#article-section,
#video-section,
#links-section{
    background-image: url("../images/background5.jpg");
}

#article,
#video{
    background-image: url("../images/background2.jpg");
}
