.navbar{
    background-color:#e9eff3 ;
}

.header{
    background-image: url("../images/header.jpg");
}

#article-section,
#video-section,
#links-section{
    background-image: url("../images/background3.jpg");
}

#article,
#video{
    background-image: url("../images/background4.jpg");
}

