.navbar{
    background-color:#e9eff3 ;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.header-bg{
    background-image: url("../images/background-light.jpg");
}

h1{
    color: darkslategray;
}

/* Modal Box & Card */
.modal-content, .card, .card-body{
    color: black;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

/* style button */
.btn{
    border:none;
    outline: none;
    width: 100%;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(160, 160, 160);
    color: black;
    transition-delay: 0.15s;
}

#article-section,
#video-section,
#links-section{
    background: rgb(205,235,246);
}