.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(177, 177, 177);
}

#points{
    color: antiquewhite;
}

.header-bg{
    background-image: url("../images/darkbg1.jpg");
}

/* Modal Box & Card */
.card{
    color: black;
    background: #ffffff7d; 
}

/* style button */
.btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn:hover{
    background-color: rgb(36, 36, 36);
    color: rgb(238, 238, 238);
}

#article-bg{
    background: rgb(0, 17, 22);
}

#video-bg{
    background: rgb(15, 15, 15);
}