.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(177, 177, 177);
}

/* style button */
.btn{
    background-color: white;
    color: black;
}

#reflection-submit{
    background-color: black;
    color: white;
}

#reflection-submit:hover{
    background-color: rgb(90, 90, 90);
}

.btn:hover{
    background-color: rgb(90, 90, 90);
    color: rgb(238, 238, 238);
}

.reflection-bg{
    background-color:rgb(19, 19, 19);
}

#reflection-header-bg{
    background: rgb(49, 49, 49);
}

p, h1, h3, h5, .font-color{
    color: rgb(255, 255, 255);
}

.form-bg{
    background-color: rgb(255, 255, 255);
}

.forms-text{
    color: black;
}

.self-care-choice-arrow{
    background-color: #040822;
}

.form-bg{
    background-color: #435cff;
}

#form-bg-dark{
    background-color: white;
}