/* style button */
.btn{
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: rgb(160, 160, 160);
    color: black;
}

.reflection-bg{
    background-color:rgb(197,226,240);
}

#reflection-header-bg{
    background: azure;
}

p,
h1,
h3,
h5,
.font-color{
    color: black;
}

.form-bg{
    background-color: white;
}

.self-care-choice-arrow{
    background-color: #040822;
}

