.navbar{
    background-color:#e9eff3 ;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.container-fluid{
    /* background-color: #e9eff3; */
}

form{
    color: black;
    background-color: darkslategray;
}

/* style button */
.btn{
    border:none;
    outline: none;
    width: 100%;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(160, 160, 160);
    color: black;
    transition-delay: 0.15s;
}