.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(177, 177, 177);
}

/* Style button */
.btn{
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: rgb(160, 160, 160);
    color: black;
}

.reflection-bg{
    background-color:rgb(164, 189, 202);
}

#reflection-header-bg{
    background: rgb(203, 209, 209);
}

p, h1, h3, h5, .font-color{
    color: black;
}

.form-bg{
    background-color: white;
}

.self-care-choice-arrow{
    background-color: #040822;
}