/* Header */
.header{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
}

/* Remove padding and margin */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  color: white;
}

/* Center and scale the image nicely */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-padding{
  padding: 30px;
}

.article-video-padding{
  padding-top: 50px; 
  padding-bottom: 50px;
}

/* style button */
.btn{
    border:none;
    outline: none;
    width: 100%;
    font-size: large;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover{
    transition-delay: 0.15s;
}

.feature-btn{
  margin-left: 20px; 
  width: 150px; 
  margin-top: 10px;
}

/* Responsive Youtube thumbnail */
.videoWrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  padding-top: 10px;
}

.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Centralise Animation & Link */
.centralise{  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Meditation text animation */
.ml3{
  font-weight: 900;
  font-size: 3.5em;
}

.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color:  rgb(107,121,130);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
}

.card{
  border: none;
  text-align: center;
  padding: 20px;
  border-radius: 10px; 
  margin-top: 20px;
}

.reminderLink{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.reminderLink::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .3s;
  background: rgb(255, 255, 255);
}

.reminderLink:hover::after{
  width: 100%;
}

.reminderLink:hover{
  color: white;
}

#back2Top {
  width: 50px;
  margin: 20px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 0;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

#back2Top:hover {
  background-color: yellow;
  color: #000;
}

#points.nav-item.navbar-text{
  padding: 10px; 
  padding-left: 0px;
}

h1{
  line-height: 2em;
  font-family: 'Yeseva One', cursive; 
}

.line-height-initial{
  line-height: initial;
}

.card-footer{
  background-color: none;
}


.height-9{
  height: 90vh;
}

.font-small{
  font-size: 3vh;
}

.mark-bg{
  background-color: yellow;
}


.p-t-50{
  padding-top: 50px!important;
}

footer{
  font-size: 12px;
  background-color: black; 
}
.font-big{
  font-size: 4rem;
}

.font-100{
  font-size: 100px!important;
}

.p-y-100{
  padding-top: 100px;
  padding-bottom: 100px;
}

.reflection-select{
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img-border{
  border-radius: 30px;
}

.form-border{
  border-radius: 30px;
}

.form-margin{
  margin: 15px;
}

#reflection-header-bg{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
@media (min-width: 576px) { 
  footer{
    font-size: 15px;
  }
  .font-big{
    font-size: 5rem;
  }
  .form-margin{
    margin: 50px;
  }
  .reflection-select{
    padding: 10px 50px;
  }
}

@media (min-width: 768px) {
  .font-big{
    font-size: 6rem;
  }
}

@media (min-width: 992px) { 
  .font-big{
    font-size: 7rem;
  }
  .form-margin{
    margin: 150px;
  }
  #reflection-header-bg{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

@media (min-width: 1200px) { 
  .font-big{
    font-size: 10rem;
  }
  #reflection-header-bg{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
}