/* Header */
.header{
    padding: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
}

/* Remove padding and margin */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  color: white;
}

/* Center and scale the image nicely */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-padding{
  padding: 30px 30px;
}

.article-video-padding{
  padding-top: 50px; 
  padding-bottom: 50px;
}

/* style button */
.btn{
    border:none;
    outline: none;
    width: 100%;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(160, 160, 160);
    color: black;
    transition-delay: 0.15s;
}

/* mb-3 & modal-content */
.mb-3, .modal-content{
  text-align: left;
}

/* Responsive Youtube thumbnail */
.videoWrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  padding-top: 10px;
}

.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Centralise Animation & Link */
.animation-center, #about-link{  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Meditation text animation */
.ml3{
  font-weight: 900;
  font-size: 3.5em;
}

.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color:  rgb(107,121,130);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
}

.card{
  border: none;
}

.reminderLink{
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  font-size: 18px;
}

.reminderLink::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000000;
  transition: width .3s;
}

.reminderLink:hover::after{
  width: 100%;
}

.reminderLink:hover{
  text-decoration: none;
}

#back2Top {
  width: 50px;
  margin: 20px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 0;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

#back2Top:hover {
  background-color: yellow;
  color: #000;
}

h1{
  line-height: 2em;
}

.card-footer{
  background-color: none;
}

.text-muted {
  color: white!important;
}