.navbar-light .navbar-nav .nav-link{
    color:#000
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#b1b1b1
}

.btn{
    background-color:#000;
    color:#fff
}

.btn:hover{
    background-color:#a0a0a0;
    color:#000
}

.reflection-bg{
    background-color:#a4bdca
}

#reflection-header-bg{
    background:#cbd1d1
}

.font-color,h1,h3,h5,p{
    color:#000
}

.form-bg{
    background-color:#fff
}

.self-care-choice-arrow{
    background-color:#040822
}