.navbar-light .navbar-nav .nav-link{
    color:#fff
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#b1b1b1
}

.btn{
    background-color:#fff;
    color:#000
}

#reflection-submit{
    background-color:#000;
    color:#fff
}

#reflection-submit:hover,.btn:hover{
    background-color:#5a5a5a
}

.btn:hover{
    color:#eee
}

.reflection-bg{
    background-color:#131313
}

#reflection-header-bg{
    background:#313131
}

.font-color,h1,h3,h5,p{
    color:#fff
}

.form-bg{
    background-color:#fff
}

.forms-text{
    color:#000
}

.self-care-choice-arrow{
    background-color:#040822
}

.form-bg{
    background-color:#435cff
}

#form-bg-dark{
    background-color:#fff
}